*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper{
    display: flex;
}

.column{
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.row{
    flex-direction: row;
}

.wrap{
    flex-wrap: wrap;
}
